// Variables
// ==================
$f-a: 'a', serif;
$f-b: "b", Sans-serif;

// Title
// ==================
.title--logo{
  width: 200px;
  height: 117px;
  margin: 0 auto space(1);
  @include replace-text(url(../../images/tripway_logo.svg));

  &+p{
    color: #fff;
    text-align: center;
  }
}

.title{
  font-size: em(24);
  font-weight: 200;
  text-align: center;
  margin-bottom: space(5);
  color: #FFFFFF;
}

.subtitle {
  font-size: em(20);
  font-weight: bold;
  margin-bottom: space(2);
  color: #3A3A3A;
}

.subtitle--color {
  color: $color;
}

.subtitle--form {
  margin-bottom: space(1);
}

.bold {
  font-weight: bold;
}

.text {
  @include flex($direction: column, $align: flex-start);
}

.text .quote {
  @extend .title;
  align-self: center;
  color: #000000;
}

.text p {
  margin-bottom: space(2);
  font-weight: 200;
  color: #999999;

  &:last-of-type{
    margin-bottom: space(7);
  }
}

.text .btn {
  align-self: center;
  margin-bottom: space(7);
}

// Font face
// ==================
/*
@include font-face('a', './fonts/HKGrotesk-Regular', 300 400 600 700, null, woff2 woff ttf svg eot);
*/

