
{% extends 'base.html.twig' %}

{% block body %}
  <section class="home__header">
    <div class="container">
      <h1 class="title title--logo">Tripway</h1>
      <p>Planning sur mesure</p>
    </div>
    <a href="" class="btn btn--color">Plus d'info</a>
  </section>
{% endblock %}