//TODO: Refactor

.home__header {
  position: relative;
  margin-bottom: space(9);

  & > div {
    min-height: 500px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > div:before {
    content: "";
    width: 100vmax;
    height: 100vmax;
    background: url(../../images/bg_mask@2x.jpg) no-repeat center;
    background-size: cover;
    border-radius: 0 0 50% 50%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  & h1 {
    @extend %title--logo
  }

  & .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}