.home__header{
  min-height: 500px;
  background: url(../../images/bg_mask@2x.jpg) no-repeat center;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: space(9);

  & .btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.title--logo{
  width: 200px;
  height: 117px;
  background: url(../../images/tripway_logo.svg) no-repeat center;
  margin: 0 auto space(1);
  text-indent: -9999px;

  &+p{
    color: #fff;
    text-align: center;
  }
}