// Import Fornts
// ==================
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

// Variables
// ==================
$color: #000;

// Outils
// ==================
@import "tools/reset";
@import "tools/functions";
@import "tools/mixins";

// Generic
// ==================
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  // transform: translate(-10px, 0);

}

// Modules
// ==================
// @import "modules/typography";

// Pages
// ==================
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
