// Variables
// ==================
$color: #fff;

// Mixins
// ==================
%burger-components{
  width: 20px;
  height: 3px;
  border-radius: 6px;
  background: $color;
  display: block;
}

// Module
// ==================
.burger {
  width: 20px;
  height: 17px;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  @include flex($direction: column, $align: flex-start);
  outline: none;
  cursor: pointer;
}

.burger span, .burger:before, .burger:after {
  @extend %burger-components;
}

.burger span {
  text-indent: -9999px;
}
.burger:before, .burger:after {
  content: '';
}

.burger:after {
  width: 10px;
}