
%btn-shadow{
  box-shadow: 0 3px 29px rgba($color, .8);
  transition: box-shadow .15s ease-in-out;
  &:active{
    box-shadow: 0 3px 19px rgba($color, .8);
  }
}

.btn{
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  border-radius: 46px;
  padding: 14px 26px;
  display: inline-block;
  border: 2px solid transparent;
}

.btn[disabled]{
  box-shadow: none;
  background: $contrast;
}

.btn--primary {
  background: $color;
  @extend %btn-shadow;
}

.btn--secondary {
  background: transparent;
  border: 2px solid currentColor;
}

.btn + .btn {
  margin-left: space(2);
}