.planning__el {
  margin-bottom: space(7);
  opacity: 0;
  animation: planningIsLoading 1.5s cubic-bezier(0,.86,.7,.99) forwards, Alpha .4s .3s ease-in-out forwards;
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      animation-delay: 300ms * $i;
    }
  }
}

.planning__description{
  color: $contrast;
  margin-bottom: space(2);
}

.planning-card {
  width: 100%;
  min-height: 180px;
  padding: em(28, 18);
  border-radius: 20px;
  display: inline-block;
  //@include background(url(../../images/planning-card/bg.png), $size: cover);
  background-size: 100% auto;
  background-position: center;
  position: relative;
  transition: background-size 2s ease-in-out;
}
.planning-card:hover{
  background-size: 110% auto;
}
.planning-card:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(to bottom, #031229, rgba(#031229, 0));
  opacity: .7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.planning-card:after {
  content: '';
  width: 40px;
  height: 40px;
  display: block;
  @include background(url(../../images/planning-card/start.svg));
  @include position($Y: 0);
}
.planning-card__header {
  @include flex();
  color: #fff;
}
.planning-card__title {
  margin-bottom: space(.5);
  font-size: em(15);
  z-index: 100;
  position: relative;
}
.planning-card__country {
  text-transform: uppercase;
  font-size: em(10);
  color: darken(#ffffff, 10);
  z-index: 100;
  position: relative;
}
.planning-card__action {
  @include flex($direction: column);
}
.planning-card__action__like,
.planning-card__action__save {
  margin-bottom: 10px;
  width: 15px;
  height: 15px;
  @include replace-text(url(../../images/planning-card/heart-fill.svg));
}
.planning-card__action__save {
  background: url(../../images/planning-card/save.svg) no-repeat center;
}
.planning-card__footer {
  @include flex();
  width: percentage(260/340);
  padding: em(22, 10);
  background: #FFF;
  font-size: 10px;
  color: #C5C5C5;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba($color: #3E3E3E, $alpha: .22);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
}
.planning-card:hover .planning-card__footer{
  box-shadow: 0 10px 20px rgba($color: #3E3E3E, $alpha: .22);
  transform: translate(-50%, 40%);
}
.planning-card__info{
  display: flex;
  align-items: center;
}
.planning-card__info:before{
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 3px;
  display: block;
}
.planning-card__info--activity{
  color: #FF4848;
}
.planning-card__info--activity:before{
  @include replace-text(url(../../images/planning-card/hearts.svg));
}
.planning-card__info--person:before{
  @include replace-text(url(../../images/planning-card/person.svg));
}
.planning-card__info--budget:before{
  @include replace-text(url(../../images/planning-card/price.svg));
}

// LOADING CARD
.planning__el--fake {
  animation: Alpha 1.5s 0s ease-in-out infinite alternate;
  &:nth-child(2) {
    animation-delay: .75s;
  }
}
.planning__el--fake a{
  background: #e0e0e0;
}
.planning__el--fake a:after,
.planning__el--fake a:before{
  display: none;
}
.planning__el--fake .planning-card__title span{
  width: 100px;
  height: 10px;
  border-radius: 3px;
  display: inline-block;
  background: darken(#e0e0e0, 10);;
}
.planning__el--fake .planning-card__info{
  width: 30%;
  height: 10px;
  border-radius: 3px;
  display: inline-block;
  background: darken(#e0e0e0, 5);
}
.planning__el--fake .planning-card__info:before{
  display: none;
}

