.form__group {
  margin-bottom: space(4);
  width: 100%;
}

.form__input {
  width: 100%;
  border-bottom: 1px solid $contrast;
  margin: space(1) 0 space(2);
  position: relative;
}

.form__input * {
  outline: none;
}

.form__input ul {
  display: none;
}

.form__input label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10px, -50%);
  transform-origin: 0 50%;
  color: $text-color;
  text-transform: uppercase;
  font-size: 0.7em;
  transition: transform $tt ease-in-out;
}

.form__input .label--change {
  transform: translate(10px, -150%) scale(.7);
}

.form__input input {
  appearance: none;
  width: 100%;
  height: 100%;
  padding: 7px 10px;
  background: transparent;
  border: none;
}

.checkbox{
  margin-bottom: space(2);
  display: block ;
}

.check--valid {
  color: $success;
}

input[type="checkbox"] {
  border-radius: 50%;
}

