.text {
  @include flex($direction: column, $align: flex-start);
}

.text .quote {
  @extend %title;
  align-self: center;
}

.text p {
  margin-bottom: space(2);

  &:last-of-type{
    margin-bottom: space(7);
  }
}

.text .btn {
  align-self: center;
  margin-bottom: space(7);
}

