header{
  width: 100%;
  position: fixed;
  top: space(4);
  z-index: 5;

  & .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

%text__section{
  display: flex;
  flex-direction: column;
  .quote{
    @extend %title
  }
  & p{
    margin-bottom: space(2);
    &:last-of-type{
      margin-bottom: space(7);
    }
  }

  & .btn{
    align-self: center;
    margin-bottom: space(7);
  }
}