.planning-card{
  &,*{
    box-sizing: border-box;
  }
  width: 100%;
  min-height: 200px;
  padding: em(32, 18) em(32, 18);
  border-radius: 40px;
  display: inline-block;

  background: url(../../images/planning-card/bg.png) no-repeat center;
  background-size: cover;
  position: relative;


  &__header{
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  &__title{
    font-size: em(18);
  }
  &__country{
    text-transform: uppercase;
    font-size: em(10);
    color: #C5C5C5;
  }

  &__action{
    display: flex;
    flex-direction: column;
    &__like,&__save{
      margin-bottom: 10px;
      width: 15px;
      height: 15px;
      text-indent: -99999px;
      background-size: contain;
    }
    &__like{
      background: url(../../images/planning-card/heart-fill.svg) no-repeat center;
    }
    &__save{
      background: url(../../images/planning-card/save.svg) no-repeat center;
    }
  }

  &:after{
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    background: url(../../images/planning-card/start.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0)
  }

  &__footer{
    width: percentage(260/340);
    padding: em(22,11);
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat";
    font-size: 10px;
    color: #C5C5C5;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba($color: #3E3E3E, $alpha: .22);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  &:hover &__footer{
    box-shadow: 0 10px 20px rgba($color: #3E3E3E, $alpha: .22);
    transform: translate(-50%, 40%);
  }

  &__info{
    display: flex;
    align-items: center;
    &:before{
      content: "";
      width: 15px;
      height: 15px;
      margin-right: 3px;
      display: block;
    }
    &--activity{
      color: #FF4848;
      &:before{
        background: url(../../images/planning-card/hearts.svg) no-repeat center;
        background-size: contain;
      }
    }
    &--person:before{
        background: url(../../images/planning-card/person.svg) no-repeat center;
        background-size: contain;
    }
    &--budget:before{
        background: url(../../images/planning-card/price.svg) no-repeat center;
        background-size: contain;
    }
  }
}